body {
    padding-top: 7%;
    max-width: 40em;
    margin: auto;
    text-align: center;
    background-color: cornsilk;
}
::selection{
    background-color: lime;
    color: black;
}
.answers {
    flex-direction: row;
    flex-flow: row;
    display: flex;
    text-align: center;
}

.answers2 {
    text-align: center;
    flex-direction: row;
    flex-flow: row;
    display: flex;
}

.w50 {
    text-align: center;
    width: 50%;
}
.w50:hover{
    color: lime;
}
.bg {
    font-size: 33px;
    /*text-shadow: 2px 2px maroon, -2px -2px maroon;*/
    font-family:fantasy;
    color: navy;
    background-color: #336699;
}